<div class="container">
    <form>
     <h1>Đăng Ký</h1>
     <div class="information">
         <input type="text" class="username" placeholder="Tên người dùng">
         <small></small> <span></span>
     </div>

     <div class="information">
         <input type="email" class="email" placeholder="Email">
         <small></small> <span></span>
     </div>

     <div class="information">
         <input type="password" class="pass" placeholder="Mật khẩu">
         <small></small> <span></span>
     </div>

     <div class="information">
         <input type="password" class="pass2" placeholder="Xác nhận mật khẩu">
         <small></small> <span></span>
     </div>
     <button class="login">Đăng Ký</button>
     <p>Đã có tài khoản? <a [routerLink]="['/login']">Đăng nhập ngay</a></p>
    </form>
 </div>